<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:requestLegacyExternalStorage="true">
        <provider
            android:name=".provider.BaseContentProvider"
            android:authorities="${applicationId}.BaseProvider"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <service
            android:name=".service.MediaService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>